h1{
  font-family:"Comic sans";

}

p{
  font-family: 'AlexBrushRegular', sans-serif;
}

body{
  font-size: 20px;
}

#two{
  font-size: 1em;
}

p{
  font-style: italic;
  font-weight: bolder;
}

h1{
  text-align: inherit;
}
